*.pdf
*.xlsx
*.docx
*.svg
*.txt
*.zip
Z81_board_sim_ULA_display.wcfg
LTSpice/
Traces oscilloscope/
software/
wdb/
rom/
CircuitMaker/
ZX81_ULA_v1.10/
ZX81_full_FPGA_v7/
Captures*
Eightyone.1.0a
saves
test_patterns
